*{
    margin: 0;
    padding: 0;
    
}

.poppins-thin {
    font-family: "Poppins", serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", serif;
    font-weight: 900;
    font-style: normal;
  }

  /* shared style */

.disply-flex{
    display: flex;
}
  
  /* nav-ber style */

.nav-bar{
    justify-content: space-between;
    margin: 87px 108px 0 120px;
    align-items: center;
}

.banner-heading{
    font-size: 1.5rem;
}

.nav-link{
    list-style: none;
   
}



.nav-item{
    text-decoration: none;
    color: #3A3A3A;
    margin-top: 8px;
    font-size: 1rem;
    margin-right: 30px;
}

/* pree-book  section*/

.pree-book{
    margin: 50px 120px 0 132px;
    
}

.pree-book-header{
    font-size: 3.25rem;
}

.pree-book-items{
    justify-content: space-between;
    align-items: center;
    gap: 131px;
}

.influencer-para{
    font-size: 1rem;
}

.prebook-btn{
    font-size: 1rem;
    padding: 10px 40px;
    border-radius: 41px;
    border: 0 solid;
    background-color: #E02C6D;
    color: white;
    margin-top: 20px;
}

.img-main{
    background-image: url(/images/Circle\ design.svg);
    
}
    


  
  
  
  
  
  
 
  
  
  
  
  