*{
    margin: 0;
    padding: 0;
    
}

.poppins-thin {
    font-family: "Poppins", serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", serif;
    font-weight: 900;
    font-style: normal;
  }

  /* shared style */

.disply-flex{
    display: flex;
}
  
  /* nav-ber style */

.nav-bar{
    justify-content: space-between;
    margin: 87px 108px 0 120px;
    align-items: center;
}

.banner-heading{
    font-size: 1.5rem;
}

.nav-link{
    list-style: none;
   
}



.nav-item{
    text-decoration: none;
    color: #3A3A3A;
    margin-top: 8px;
    font-size: 1rem;
    margin-right: 30px;
}

/* pree-book  section*/

.pree-book{
    margin: 50px 120px 0 132px;
    
}

.pree-book-header{
    font-size: 3.25rem;
}

.pree-book-items{
    justify-content: space-between;
    align-items: center;
    gap: 131px;
}

.influencer-para{
    font-size: 1rem;
}

.prebook-btn{
    font-size: 1rem;
    padding: 10px 40px;
    border-radius: 41px;
    border: 0 solid;
    background-color: #E02C6D;
    color: white;
    margin-top: 20px;
}

.img-main{
    background-image: url(/images/Circle\ design.svg);
    padding: 30px 33px 31px 2px;
    
}

/* partner style */

.partner{
  margin: 69px 165px 0 165px;
  justify-content: space-around;
  
  
}


/* popular-collection style */

.cards{
  margin: 100px 197px 0 196px;
}

.popular-collection-title{
  font-size: 1.75rem;
  text-align: center;
  margin-bottom: 34px;
}

.popular-collection{
  display: grid;
  grid-template-columns:repeat(3, 1fr);
  gap: 30px;
}

.card{
  box-shadow: 30px 30px 30px #f7eeee;
  /* padding-left: 14px; */
  
  
}

.img-9{
  padding: 17px 15px 16px 0;
}

.item-name{
  font-size: 1.75rem;
  
  
}

.price{
  font-size: 1.5rem;
  
  
}

.item-discreption{
  font-size: 0.875rem;
  color: #787885;
  padding-bottom: 17px;
}

.see-more-btn{
  text-align: end;
  margin-top: 25px;
  color: #E02C6D;
  font-size: 1rem;
  border: 0 solid;
}

/* featured style */

.featured{
  margin: 100px 165px 100px 165px;
 
}

.featured-products{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.capson{

}

.featured-products-header{
  font-size: 2.375rem;
}

.featured-products-para {
  font-size: 1rem;
  color: #6C6C6C;
}

.join-now{
  font-size: 1rem;
  color:#FFFFFF ;
  background-color: #E02C6D;
  padding: 10px 40px 10px 40px;
  margin-top: 16px;
  border: 0 solid;
}
   
/* footer style */

footer{
  background-color: rgb(19, 22, 29)
}

.footer-section{
  text-align: center;
  padding: 50px 0 50px 0;
}

.footer-header{
  color: #FFFFFF;
  font-size: 1.5rem;
}

.footer-para{
  color: #D9DBE1;
  font-size: 0.875rem;
}

/* media quarry */

@media screen and (max-width: 576px) {
  .nav-bar,
  .banner-heading,
  .nav-link,
  .pree-book-header, 
  .partner, 
  {
    flex-direction: column;
  }
  .nav-item, .card, .featured-products, {
    display: grid;
    grid-template-columns: none;
  }

  .img-9{
    max-width: 330px;
  }
}
  



  
  
  
  
  
  
 
  
  
  
  
  